@import 'normalize.scss';
@import 'foundation.scss';


// Overrides

$font-family-sans-serif: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$font-family-serif: Georgia, Cambria, 'Times New Roman', Times, serif;
$font-family-monospace: 'Courier New', Consolas, 'Liberation Mono', Courier, monospace;

$font-family-cursive: 'Permanent Marker', cursive;

// Custom Styles
//-- Typography

.text-bg { 
	background-color:rgba(0,0,0,0.5); 
	padding: .25em 0;
}

//-- Layout
.full-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

// Section-by-Section

//-- Ascii art and easter eggs
pre {
    font-family: $font-family-monospace;
    display: block;
    vertical-align: middle;
    line-height: 1;
    font-size: 10px;
    width: 39em;
    margin: 0 auto;
    overflow: hidden;
}

#ascii {
    background: $black;
    color: $white;
    padding-top: 3em;
}
    
#corgiGif {
    display: block;
    vertical-align: middle;
    margin: 0 auto;
    width: 100%;
}

//-- #the-happy-couple
// 	 Shake It! Shake It!
.polaroid {
    border: 1em solid $white;
    border-radius: 3px;
    width: 500px;
    max-width: 100%;
    background: $white;
    -ms-transform: rotate(-3deg); 
    -webkit-transform: rotate(-3deg); 
    transform: rotate(-3deg);
    img {width: 100%;}
}

.polaroid__text {
	font-family: $font-family-cursive;
    text-align: center;
    color: $black;
    min-height: 3em;
    padding-top: 1em;
}

#the-happy-couple {
    background: #000;
}

//-- #location
//   Where is this wedding going to be?
#location {
    color: $white;
    text-shadow: 3px 3px 3px #000;
    background: url(../img/corona_yacht_club.jpg);
    background-size: cover;

    h2 { color: $white; }
    p { font-size: 1.5em; margin: 0 0 0.5em 0;}
}


.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
    
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}



//-- #registry
#registry {
    background: url(../img/stripes.png);
    font-family: $font-family-cursive;
    font-size: 1.5em;
    h2 {
    	font-family: $font-family-cursive;
    }
}

