// My custom variables
$font-family-cursive: 'Permanent Marker', cursive;
$coral: #ea6157;

// Overrides
$primary-color: $coral;
$header-font-family: 'Lato', sans-serif;

$font-family-sans-serif: 'Lato', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$font-family-serif: Georgia, Cambria, 'Times New Roman', Times, serif;
$font-family-monospace: 'Courier New', Consolas, 'Liberation Mono', Courier, monospace;
$button-font-color: #fff;
$button-font-color-alt: #333;

$h1-font-size: 4rem;
$h2-font-size: 3rem;
$h3-font-size: 1.5rem;
// $h4-font-size: rem-calc(27);
// $h5-font-size: rem-calc(18);
// $h6-font-size: 1rem;

//$small-breakpoint: em-calc(640);
$medium-breakpoint: em-calc(900);
$large-breakpoint:  em-calc(1200);
@import '../_lib/normalize.scss';
@import '../_lib/foundation.scss';


// Custom Styles
//-- Typography

h1,h2,h3,h4,h5 {
    &.serif {
        font-family: $font-family-serif;
        font-style: italic;
    }
}
html{
    @media #{$small-only} {
        font-size: 14px
    }
}

p { padding: 0 0 0.5em 0; }

img { max-width: 100% }

.text-bg { 
	background-color:rgba(0,0,0,0.5); 
	padding: .25em 0;
}

//-- Layout
.full-section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 4em;
}

.black-box {
    color: $white;
    background: $black;

    h1, h2, h3, h4, h5 {
        color: $white;
    }
}

// Section-by-Section

//-- Ascii art and easter eggs
pre {
    font-family: $font-family-monospace;
    display: block;
    vertical-align: middle;
    line-height: 1;
    font-size: 10px;
    width: 39em;
    margin: 0 auto;
    overflow: hidden;
}

#ascii {
    background: $black;
    color: $white;
    padding-top: 3em;
}
    
#corgiGif {
    display: block;
    vertical-align: middle;
    margin: 0 auto;
    width: 100%;
}

//-- #the-happy-couple

#the-happy-couple {
    background: $black;
    
    @media #{$medium-up} {
        background: url(../img/Kimberly-Munoz-Kevin-Morrell-walking-Joshua-Tree.jpg);
        background-size: cover;
    }
}

.the-happy-couple__join-us {
    background: #000;
    h1, h2 { 
        color: #fff; 
        font-size: 3em; 
    }
}

//-- #location
//   Where is this wedding going to be?
#location {    
    background: url(../img/corona_yacht_club.jpg);
    background-size: cover;
}


.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
    
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}

#fisheye {
    background: #000 url(../img/Kimberly-Munoz-Kevin-Morrell-Fisheye.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;

}


//-- #registry
#registry {
    font-size: 1.5em;
}

#contact-us {
    background: #000 url(../img/Kimberly-Munoz-Ring.jpg);
    background-size: cover;
}
